@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face{font-family:'Nunito', sans-serif;}
body{background:#fff; font-family:'Nunito',sans-serif!important; font-size:14px; font-weight:400; margin:0; line-height:1.8; color:rgba(0,0,0,.60);-webkit-text-size-adjust:100%;}
html, body{height:100%;}
html, body, input, textarea, button{-webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.004);}
header ul.mui-list--inline{margin-bottom:0;}
header a{color:#333; text-decoration:none;}
header a:hover{color:#0170c1; text-decoration:none;}
header table{width:100%;}
#content-wrapper{min-height:100%; box-sizing:border-box; margin-top:66px; margin-bottom:0px; padding-bottom:0px;}
.mui-textfield>input, .mui-textfield>select, .mui-textfield>textarea{-webkit-box-sizing:border-box; box-sizing:border-box; display:block; background-color:transparent; color:rgba(0,0,0,.87); border:none; border-bottom:1px solid rgba(0,0,0,.26); height:32px; outline:0; width:100%; padding:0; -webkit-box-shadow:none; box-shadow:none; border-radius:0; font-size:16px; font-family:inherit; line-height:inherit; background-image:none;}
#stickybox{width:100%; left:0px; right:0px; background:#fff; padding:10px 0px 2px 0px; border-bottom:1px solid rgb(204, 204, 204); z-index:999; display:none;}
.close-button{color:#f00; font-size:18px; text-align:right; margin:3px 13px; padding:0px; float:right;}

.mui--text-title{display:inline-flex;}
.np{padding-left:0px; padding-right:0px;}
.mui-appbar{background-color:#fff; color:#000;}
ul.mui--text-body2 li a{font-size:18px; font-weight:bold;}
ul.mui--text-body2 li a .shopping-cart{font-size:20px; font-weight:bold;}
.logo img{width:125px; height:55px; margin:4px 0px -9px 0px; position:relative; top:0px;}
ul.nav-menu{margin:0px; padding:12px 0px 0px 40px;}
ul.nav-menu li{display:inline-block;}
ul.nav-menu li a{font-size:15px; color:#333; padding:5px 10px 7px 10px; margin:12px 0px 0px 0px; line-height:36px;}
ul.nav-menu li a.active{background:#0170c1; font-size:15px; color:#fff; padding:5px 10px 7px 10px; margin:12px 0px 0px 0px; line-height:36px;}
ul.nav-menu li a:hover{background:#0170c1; font-size:15px; color:#fff; padding:5px 10px 7px 10px; margin:12px 0px 0px 0px; line-height:36px;}
.rounded{border-radius:3pt; -moz-border-radius:3pt; -webkit-border-radius:3pt;}
/* .rounded:active{background:#0170c1; font-size:15px; color:#fff; padding:5px 10px 7px 10px; margin:12px 0px 0px 0px; line-height:36px;} */
footer ul{margin:0px; padding:0px;}
footer ul h3{font-size:18px; color:#bfbfbf; font-weight:bold; text-align:left;}
footer ul li{text-align:left; margin:0px; padding:0px; list-style:none; line-height:30px;}
footer ul li a{font-size:14px; color:#fff;}
footer ul li a:hover{font-size:14px; color:#fecc1f; text-decoration:none;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.text-left h3{text-align:left;}

.sub-header{font-size:16px; padding:0px 0px 10px 0px;}
.sub-images-head{float:right;}
.sub-images-head img.sub-header-icons{height:30px; vertical-align:top; margin:0px 10px;}

.btn-success{background:#3c78c5; margin:20px 0px 0px 0px; padding:10px 15px; border:1px solid #3c78c5; cursor:pointer;}
.btn-success a{font-size:16px; color:#fff;}
.btn-success a:hover{font-size:16px; color:#fff; text-decoration:none;}
.btn-cancel{background:#f00; margin:0px 0px 0px 0px; padding:10px 15px; border:1px solid #ccc; cursor:pointer;}
.btn-cancel a{font-size:16px; color:#fff; text-decoration:none;}
.btn-cancel a:hover{font-size:16px; color:#fff; text-decoration:none;}

.hero{background:#fff; min-height:1000px;}
/* img.img01{width:325px; height:385px; margin:0px 50px 0px 0px; position:relative; top:-105px; border-radius:15px;}  */
/* img.img02{width:325px; height:385px; margin:0px 45px 0px 0px; position:relative; top:-35px; border-radius:15px;} */
/* img.img03{width:325px; height:385px; margin:0px 35px 0px 0px; position:relative; top:-70px; border-radius:15px;} */
/* img.img04{width:325px; height:385px; margin:0px 40px 0px 0px; position:relative; top:-95px; border-radius:15px;}  */
/* .four-images{margin: 10px;}0 */


.main-content{text-align:center; margin:0px; padding:2% 0% 17% 0%;}
.main-content h2{font-size:56px; font-weight:normal; line-height:46px; margin:0px!important; padding:0px 0px 15px 0px!important;}
.main-content h2 span{font-size:26px; color:#333; font-weight:normal; line-height:30px; margin:0px; padding:0px 0px 5px 0px;}
.main-content p{font-size:16px!important; color:#000!important; text-align:center!important; line-height:24px!important; padding:0px!important; margin:0px!important;}

.main-content-text{background:#000; width:100%; min-height:520px; margin:0px 0px 0px 0px; padding:35px 0px; text-align:left; display:flex;}
.main-content-text img{width:90%; text-align:right;}
.main-content-text-desc{font-size:56px; color:#fff; line-height:60px; margin:15% 20% 0 0;  align-items:center;}
.main-content-text a{font-size:15px; color:#3870c1; padding:15px 0px;}

.content-services{background:#3870c1; color:#333; padding:35px 0px; margin:0px 0px 0px 0px;}
.content-services h2{font-size:46px; margin:0px; padding:0px 0px 10px 0px;}
.content-services img{width:65%;}
.content-services h3{font-size:34px; font-weight:bold; text-align:left; line-height:40px; margin:0px; padding:55px 20px 0px 0px;}
.content-services p{font-size:20px!important; color:#fff!important; line-height:28px!important; text-align:left!important; margin:0px!important; padding:0px 10px 0px 10px!important;}
.content-services .service-desc{font-size:14px; color:#333; line-height:20px; margin:0px; padding:10px 0px 20px 0px;} 
.restaurant h3{padding:55px 10px 0px 0px!important; text-align:left!important;}
.restaurant p{padding:5px 10px 0px 0px!important; text-align:left!important;}
.online-store{margin-bottom:85px;}

/* changes */
.online-store-1{background:#3367b3; margin-bottom:35px; border-radius:20px;}
.online-store-1 h3,p{color: white;}
.online-store-1 img{padding:5px; border-radius:20px; -moz-border-radius:20px;}


.best-path{background:#fff; color:#333; padding:35px 0px; margin:0px 0px 35px 0px; border-bottom:1px solid #ccc;}
.best-path h2{font-size:40px; color:#333; font-weight:bold; margin:0px; padding:0px 0px 34px 0px;}
.best-path h4{font-size:20px; color:#333; font-weight:bold; margin:0px; padding:0px 0px 10px 0px;}
.best-path p{font-size:16px; color:#333; line-height:24px; margin:0px; padding:0px 0px 10px 0px;}

.store{min-height:690px; padding:5px 0px; margin:0px 0px 35px 0px;}
.store h2{font-size:44px; font-weight:bold; color:#3870c1; line-height:48px; margin:0px; padding:0px 0px 34px 0px;}
.store img{max-width:100%; width:100%;}

.best-sell{min-height:690px; padding:35px 0px; margin:0px 0px 35px 0px;}
.best-sell h2{font-size:44px; font-weight:bold; color:#3870c1; line-height:48px; margin:0px; padding:0px 0px 34px 0px;}
.best-sell-wrap{text-align:left; padding:0px; margin:0px;}
.best-sell-wrap h6{font-size:26px; font-weight:bold; color:#0170c1; text-align:left; padding:15px 20px; margin:5px 0px; line-height:30px;}
.best-sell-wrap p{font-size:18px; color:#000; text-align:left; line-height:22px; padding:5px 20px; margin:5px 0px;}
.best-sell-wrap img{width:100%; margin-top:25px; border-bottom-left-radius:10px; border-bottom-right-radius:10px;}
.best-sell-wrap a{font-size:18px; text-align:left; margin:0px; padding:5px 20px 20px 20px;}
img.play-button{width:125px; height:40px; margin:25px 15px 0px 5px; float:right;} 

.product-images{padding:0px; margin:0px;}
.product-images h6{width:32px; height:32px; font-size:14px; font-weight:bold; text-align:center; padding:0px; margin:0px 0px 15px 0px; line-height:32px; border:1px solid #0170c1; border-radius:90px; -webkit-border-radius:90px; -moz-border-radius:90px;}
.product-images img{background:#e6e6e6!important; border-bottom:none!important;}

footer{background:#000; color:#fff; padding:35px 0px; margin:0px 0px;}
footer .social-links{margin:10px 0px; padding:15px 0px; border-top:1px solid #544e4e; border-bottom:1px solid #544e4e; align-items:center; display:flex; justify-content:space-between;}
.english-social svg{font-size:22px; padding-left:25px;}
.foot-links{display:flex; justify-content:space-between;}
.foot-links ul li{text-align:right;}
 
.mui--z1, .mui-dropdown__menu, .mui-select__menu{-webkit-box-shadow: 0 0px 0px rgb(0 0 0 / 12%), 0 0px 0px rgb(0 0 0 / 24%); box-shadow:0 0px 0px rgb(0 0 0 / 12%), 0 0px 0px rgb(0 0 0 / 24%); border-bottom:1px solid #eee;}
.mobile-bar{font-size:24px; position:relative; margin:15px 0px 0px 35px;}
.mobile-view{background:#fff; position:absolute; left:0px; top:0px; width:250px; height:100vh; z-index:99; box-shadow:3px 10px 4px #000; -webkit-box-shadow:3px 10px 4px #000;}
.mobile-view ul{margin:20px 0px 0px 0px; padding:0px;}
.mobile-view ul li{list-style:none; margin:0px 0px; padding:10px 20px; border-bottom:1px solid #ccc;}
.mobile-view ul a{font-size:16px; text-align:left; padding:7px 0px; margin:0px;}

.get-in-touch{background:#fff; padding:35px 0px; margin:45px 0px 35px 0px; border:1px solid #eee; border-radius:20px; -moz-border-radius:20px;}
.get-in-touch h2{font-size:44px; font-weight:bold; color:#000; line-height:48px; margin:0px; padding:0px 0px 5px 0px;}
.get-in-touch p{font-size:20px; text-align:center; margin:0px; padding:0px 0px 45px 0px;}
.get-in-touch label{text-align:left;font-size:15px;overflow:hidden;}
.get-in-touch .mui-textfield input{width:100%;height:45px;}
.get-in-touch .mui-textfield textarea{width:100%;height:80px;}
.get-in-touch .mui-textfield select{width:100%;height:45px;}
.mui-textfield span{font-weight: bold;font-size:13px;}
.mui-textfield select option{border-radius:0px;}
#content-wrapper h2{color:#3f51b5; font-size:42px; text-align:center; margin:0px; padding:35px 0px 35px 0px;}
#content-wrapper p{font-size:17px!important; color:#4a4a4a; text-align:center; margin:0px!important; padding:10px 0px 30px 0px!important; line-height:20px!important;}

.flip-card{width:100%; perspective:1000px;}
.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;}
.flip-card-back ul{margin:0px 20px 0px 40px; padding:0px;}  
.flip-card-back ul li{font-size:15px; line-height:24px; text-align:left; margin:0px; padding:0px 0px 10px 0px;}  
.flip-card-front{text-align:left; color:#333; background:#f6f6f6; min-height:415px; padding:0px;border-radius:6px;}
.flip-card-back{background:#f6f6f6; text-align:left; padding:0px; min-height:425px; color:#333; transform:rotateY(180deg); border:1px solid #ccc; border-radius:6px;}
.clear{clear:both;}


@media (min-width: 244px){
	.mui-container{max-width:244px;} .nav-menu{display:none;} .mobile-view{display:block;} .mobile-bar{display:block; text-align:right;}
}
@media (min-width: 544px){
	.mui-container{max-width:570px;} .nav-menu{display:none;}  .mobile-view{display:block;} .mobile-bar{display:block; text-align:right;}
}
@media (min-width: 768px){
	.mui-container{max-width:740px;} .nav-menu{display:inline;} .mobile-view{display:none;} .mobile-bar{display:none;}
}
@media (min-width: 922px){
	.mui-container{max-width:960px;} .nav-menu{display:inline;} .mobile-view{display:none;} .mobile-bar{display:none;}
}
@media (min-width: 1200px){
	.mui-container{max-width:96%;} .nav-menu{display:inline;} .mobile-view{display:none;} .mobile-bar{display:none;}
}

